.about {
  background-color: #f7f7f7;
  min-height: 100vh;
  overflow: hidden;

  .headshot {
    margin-top: 40px;

    img {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      width: 50%;
    }
  }

  h1 {
    text-align: center;
  }

  p {
    width: 80%;
    margin: 0 auto 20px;
    text-align: justify;
    font-size: 1.3rem;
    line-height: 30px;
  }
}
