.music {
  background: linear-gradient(rgba(0,0,0, 0.7), rgba(0,0,0, 0.7)), url('../img/smoke.jpg');
  background-size: cover;
  background-position: top;
  max-height: 110vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .projects {
    width: 320px;
    margin: 40px auto 0;

    .solo {
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-size: 3rem;
      font-family: 'giraffeyregular', sans-serif;
      width: 100%;
    }

    div {
      // width: 99%;
      // margin: 0 auto;

      .vid {
        min-width: 320px;
        min-height: 180px;
        // width: 60%;
        border: 1px solid white;
        margin: 30px auto 0;
      }

      p {
        color: white;
        margin-top: 0;
      }
    }
  }

  footer {
    align-self: center;
    margin: 40px 0 30px;

    i {
      color: white;
      margin: 0 10px;
    }
  }
}
